body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background: #eef7ff;
}

header {
  background: #004466;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

p {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}
